<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    @await Component.InvokeAsync("Head")
</head>

<body>
    @await Component.InvokeAsync("Header")

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Component.InvokeAsync("Footer")

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>